@font-face {
    font-family: "Phantom Sans";
    src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff")
            format("woff"),
        url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2")
            format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Phantom Sans";
    src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff")
            format("woff"),
        url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2")
            format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Phantom Sans";
    src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff")
            format("woff"),
        url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2")
            format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --darker: #121217;
    --dark: #17171d;
    --darkless: #252429;
    --black: #1f2d3d;
    --steel: #273444;
    --slate: #3c4858;
    --muted: #8492a6;
    --smoke: #e0e6ed;
    --snow: #f9fafc;
    --white: #ffffff;
    --red: #ec3750;
    --orange: #ff8c37;
    --yellow: #f1c40f;
    --green: #33d6a6;
    --cyan: #5bc0de;
    --blue: #338eda;
    --twitter: #1da1f2;
    --facebook: #3b5998;
    --instagram: #e1306c;
    --text: #1f2d3d;
    --background: #ffffff;
    --elevated: #ffffff;
    --sheet: #f9fafc;
    --sunken: #e0e6ed;
    --border: #e0e6ed;
    --placeholder: #8492a6;
    --secondary: #3c4858;
    --primary: #ec3750;
    --accent: #338eda;
}

body {
    font-family: "Phantom Sans", -apple-system, system-ui, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/*@media screen and (min-width: 32em) {
  container {
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 980px;
  }
}

.container {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  max-width: container;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}*/

body {
    color: var(--black);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
}
.title {
    color: var(--red);
    font-size: 48px;
}

.jumbotron,
.container-fluid {
    background-color: #f9fafc;
}

a {
    color: var(--blue);
    text-decoration: underline;
}
a:hover {
    color: var(--blue);
}

pre {
    background-color: var(--smoke);
}

th {
    color: var(--red);
}

.webring-anchor {
    font-size: 24px;
    color: rgba(132, 146, 166, 0.8);
    text-decoration: none;
    transition: color 0.5s;
}
.webring-anchor:hover {
    color: rgba(132, 146, 166, 1);
    text-decoration: none;
}
.webring-logo {
    background-image: url(https://assets.hackclub.com/icon-rounded.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 0 4px;
    vertical-align: middle;
}

.flag {
    background-image: url(https://assets.hackclub.com/flag-orpheus-top.svg);
    background-repeat: no-repeat;
    -webkit-background-position: top left;
    background-position: top left;
    -webkit-background-size: contain;
    background-size: contain;
    cursor: pointer;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 112px;
    height: 48px;
    -webkit-transition: 0.1875s cubic-bezier(0.375, 0, 0.675, 1) -webkit-transform;
    transition: 0.1875s cubic-bezier(0.375, 0, 0.675, 1) transform;
    transform-origin: top left;
}

@media (min-width: 48em) {
    .flag {
        width:172px;
        height: 64px;
    }
}

.flag:hover,.flag:focus {
    -webkit-animation: animation-flag 0.5s linear infinite alternate;
    animation: animation-flag 0.5s linear infinite alternate;
}

@media (prefers-reduced-motion: reduce) {
    .flag {
        -webkit-animation: none!important;
        animation: none!important;
    }
}

@-webkit-keyframes animation-flag {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}
