name: Maintain Webring

on: workflow_dispatch 

# on:
#     push:
#         branches:
#             - main
#     schedule:
#         - cron: 0/15 * * * *

env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
              with:
                  ref: main
                  token: ${{ secrets.GITHUB_TOKEN }}

            - uses: pnpm/action-setup@v2
              with:
                  version: 8

            - uses: actions/setup-node@v3
              with:
                  node-version: 18
                  cache: "pnpm"

            - name: Run webring maintainance
              run: |
                  pnpm install
                  pnpm maintain

            - name: Commit files
              run: |
                  git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
                  git config --local user.name "github-actions[bot]"
                  git checkout -b auto-maintain-branch
                  git add .
                  git commit -m "Maintain Webring"
                  git push origin auto-maintain-branch

            - name: Merge
              run: |
                  gh pr create --title "Maintain Webring" --body "Maintain Webring" --base main --head auto-maintain-branch
                  gh pr merge auto-maintain-branch --squash --auto --delete-branch --subject "Maintain Webring" --body "Maintain Webring"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
